.wrapper_product_list {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 12rem;
}
.product_detail_content {
  margin: 2rem 0;
}
.product_img {
  width: 40rem;
}
.product_Description {
  width: 60rem;
  font-size: 2rem;
}
