.home_footer {
  height: 30rem;
  background-color: var(--cta);
}

.home_footer {
  justify-content: space-around;
  align-items: center;
  color: var(--text-primary);
  overflow: hidden;
}
.footer_ul > li {
  padding: 0.5rem 0;
}

@media screen and (max-width: 60rem) {
  .home_footer {
    justify-content: center;
    gap: 2rem;
  }
  .footer_ul li {
    font-size: 1rem;
  }
}
