body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f6f8fc;
  color: #111827;
}
body::-webkit-scrollbar {
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}
html {
  --btn-yellow: #ff9f00;
  --btn-orange: #f08804;
  --heart-red: #ea3266;
  --bg-color-light: #cccccc;
  --index--1: -1;
  --index-9: 9;
  --index-99: 99;
  --index-999: 999;
  scroll-behavior: smooth;
}
.container {
  font-family: "Montserrat", sans-serif, "Work Sans", sans-serif, "Kodchasan",
    sans-serif;
  min-height: 100vh;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
}
.work-sans {
  font-family: "Work Sans", sans-serif;
}
.kodchasan {
  font-family: "Kodchasan", sans-serif;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}
